src/views/index.jade
doctype html
html(ng-app="app")
head
    link(rel="stylesheet", href="css/lib/bootstrap.css")
    link(rel="stylesheet", href="css/main.css")
    title AngularJS MongoDB Example
body

    //h1 Title

    //- notifications go here
    div(ng-controller="AlertCtrl")
        //- dismiss all option
        div(ng-if="alerts.length>1")
            p &nbsp;
                span.pull-right.dismiss-all(ng-click="dismissAllAlerts()") dismiss all
            //- alerts go here
        alert(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)')
            i.glyphicon.glyphicon-bell
            | {{alert.msg}}

    tabset

        //- manage items
        tab(heading="Items")

            h3 Manage Items

            div(ng-controller="ItemCtrl")

                form(ng-submit="createItem(itemForm.$valid)", name="itemForm")
                    .form-group(ng-class="{'has-error' : itemForm.title.$invalid}")
                        label.control-label Title
                        input.form-control(name="title", type="text", required, ng-model="item.title")
                    .form-group
                        label.control-label Description
                        textarea.form-control(name="description", type="text", ng-model="item.description")

                    .form-group
                        span.btn.btn-warning(ng-if="editItem", ng-click="cancelEdit()") Cancel
                        | &nbsp;
                        button.btn.btn-success(type="submit") {{editItem?'Save Changes':'Create New Item'}}

                // an overview od all existing items
                .panel.panel-default(ng-repeat="item in items")
                    .panel-heading {{item.title}}
                        .pull-right
                            i.glyphicon.glyphicon-edit(ng-click="prepareEdit(item)")
                            i.glyphicon.glyphicon-trash(ng-click="deleteItem(item._id)")
                    .panel-body {{item.description}}
                        p
                            code {{item}}

        //- configuration options go here
        tab(heading="Configuration")

            h3 App Conifiguration

            //- TODO configController and so goes here
            p TODO, here you'll be able to configure backend and other app parameters.
                | You could also look at this as just another tab


//- load script files at the end
script(src="js/lib/angular.min.js")
script(src="js/components.js")
script(src="js/app.js")
//- angular bootstrap integration
script(src="js/lib/ui-bootstrap-tpls-0.10.0.min.js")

public/index.html
<!DOCTYPE html><html ng-app="app"></html><head><link rel="stylesheet" href="css/lib/bootstrap.css"><link rel="stylesheet" href="css/main.css"><title>AngularJS MongoDB Example</title></head><body><!--h1 Title--><div ng-controller="AlertCtrl"><div ng-if="alerts.length&gt;1"><p>&nbsp;<span ng-click="dismissAllAlerts()" class="pull-right dismiss-all">dismiss all</span></p></div><alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><i class="glyphicon glyphicon-bell"></i>{{alert.msg}}</alert></div><tabset><tab heading="Items"><h3>Manage Items</h3><div ng-controller="ItemCtrl"><form ng-submit="createItem(itemForm.$valid)" name="itemForm"><div ng-class="{'has-error' : itemForm.title.$invalid}" class="form-group"><label class="control-label">Title</label><input name="title" type="text" required ng-model="item.title" class="form-control"></div><div class="form-group"><label class="control-label">Description</label><textarea name="description" type="text" ng-model="item.description" class="form-control"></textarea></div><div class="form-group"><span ng-if="editItem" ng-click="cancelEdit()" class="btn btn-warning">Cancel</span>&nbsp;<button type="submit" class="btn btn-success">{{editItem?'Save Changes':'Create New Item'}}</button></div></form><!-- an overview od all existing items--><div ng-repeat="item in items" class="panel panel-default"><div class="panel-heading">{{item.title}}<div class="pull-right"><i ng-click="prepareEdit(item)" class="glyphicon glyphicon-edit"></i><i ng-click="deleteItem(item._id)" class="glyphicon glyphicon-trash"></i></div></div><div class="panel-body">{{item.description}}<p><code>{{item}}</code></p></div></div></div></tab><tab heading="Configuration"><h3>App Conifiguration</h3><p>TODO, here you'll be able to configure backend and other app parameters.
You could also look at this as just another tab</p></tab></tabset></body><script src="js/lib/angular.min.js"></script><script src="js/components.js"></script><script src="js/app.js"></script><script src="js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
